* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f0f4c3, #c8e6c9);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4CAF50;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 2px solid #4CAF50;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.pokemon-data {
    margin-top: 20px;
    display: none; /* Ocultar inicialmente */
}

.pokemon-data img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}
